#detail-field{
	background-color:transparent; 
	border:none; 
	width:100%;
	font-family: isi;
	font-size:11pt; 
	pointer-events: none;
}

#detail-field:focus{
	border:none;
	outline: none;
	box-shadow:none;
	
}



input[readonly],
input[disabled],
select[readonly],
select[disabled],
textarea[readonly],
textarea[disabled]{
  /** font-family: inherit; **/
  font-size:12px; 
  line-height: inherit;
  font-family: isi;
}


.nav-tabs-custom{
	font-family: mainandra;
}


.login-header{
	font-family: mainandra;
}

.login-footer{
	font-family: isi;
}



h5.modal-title,.header-title,h4.modal-title{
	font-family: mainandra;
	font-size:13pt;
	color:#3b4f3b;
	
}
.jabatan-label{
	font-family: mainandra;
	font-size:13pt;
	color:#ffffff;
	text-shadow: rgb(110, 110, 110) 0.02em 0.02em 0.05em;
}

h1{
	font-family: mainandra !important;
}

span.logo-lg{
	font-family: mainandra !important;
}

p.label-perjanjian_kinerja{
	font-family: isi_2;
}

span.form-control{
	font-family: isi_2;
}

li.user-header, .widget-user-username{
	font-family: mainandra !important;
}

@font-face {
			font-family: mainandra;
			src: url('./fonts/MAIAN.TTF');
			font-weight: normal;
}

@font-face {
			font-family: isi;
			src: url('./fonts/rm_typerighter.ttf');
			font-weight: normal;
}

@font-face {
			font-family: isi_2;
			src: url('./fonts/consola.TTF');
			font-weight: normal;
}

@font-face {
	font-family: nama;
	src: url('{{ assets("./fonts/consola.TTF")}}');
	font-weight: normal;
}

.toolbar{
	float : left;
}

.img-slide{
	width : 100%;
	height : 315px !important;
	border: 1px solid rgb(49, 237, 212);
}

 .jstree-container-ul {
	min-height: 300px;
}



.small-box h3{
	
	text-shadow: rgb(110, 110, 110) 0.02em 0.02em 0.05em;
}

.small-box strong{
	
	text-shadow: rgb(110, 110, 110) 0.08em 0.08em 0.1em;
}


/** LOGIN **/
.hideShowPassword-toggle {
	background: transparent url('./hideShowPassword/images/wink.png') -4px center no-repeat;
	background: transparent url('./hideShowPassword/images/wink.svg') -4px center no-repeat;
	border: none;
	height: 30px;
	width: 32px;
	margin: 1px 3px 0 !important;
	padding: 0;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	-moz-appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	z-index: 12;
  }
  .hideShowPassword-toggle-hide {
	background-position: -48px center;
  }
  .login-box .form-group .hideShowPassword-toggle {
	margin: -16px 35px 0 0 !important;
  }

  .pasphpoto{
	border:3px groove rgb(155, 155, 155);
	-webkit-box-shadow: 6px 6px 5px -1px rgba(0,0,0,0.5);
	-moz-box-shadow: 6px 6px 5px -1px rgba(0,0,0,0.5);
	box-shadow: 6px 6px 5px -1px rgba(0,0,0,0.5);
  }


::-webkit-scrollbar {
	width: 10px ;
}
 
::-webkit-scrollbar-track {      
	background: #666;    
}
 
::-webkit-scrollbar-thumb {
	background: #232323;
}

.auto{
	 display:block;
	 width:auto;
	 height:600px;
	 overflow:auto;
	 
	 
}

.blm_add{color:#cfcdd6;}
.no-sort::after { display: none!important; }
.no-sort { pointer-events: none!important; cursor: default!important; }


a.back_button {
	text-decoration: none;
	display: inline-block;
	padding: 6px 12px;
  }
  
  a.back_button:hover {
	border: 1px solid #b7b5ba;
	background-color:#e8e8e8;
	color: #3600c2;
	text-shadow: rgb(110, 110, 110) 0.08em 0.08em 0.1em;
  }
  
  .back_button {
	  	border: 1px solid #9c9c9c;
	  	background-color:none;
		color: black;
		border-radius: 50%;
  }

#my-dropzone .message {
    font-family: "Segoe UI Light", "Arial", serif;
    font-weight: 600;
    color: #0087F7;
    font-size: 1.5em;
    letter-spacing: 0.05em;
}
 
.dropzone {
    border: 1px solid rgb(196, 199, 202);
    background: rgb(247, 244, 244);
    border-radius: 5px;
    min-height: 40px;
    padding: 10px 0;
	vertical-align: baseline;
	font-family: mainandra !important;
}

.dropzone .dz-preview .dz-error-message {
    top: 150px!important;
}


/** SELECT 2 agar error saat validasi **/
.has-error .select2-selection {
    border-color: #dd4b39 !important;
}
.has-success .select2-selection {
    border-color: #3c763d !important;
}


